@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a Tag</h2>

<h4>Add a tag to this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)
  
  <div class="mb-3">
    @Html.Label("Select tag")
    @Html.DropDownList("TagId", ViewBag.TagId, "Add Tag", new { @class = "form-control"})
  </div>

  <input type="submit" value="Save" class="btn btn-success" />
}