@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model List<RecipeBox.Models.Recipe>

<h2>Recipes</h2>

@if (Model.Count == 0)
{
  <p>There are no recipes in the system.</p>
}
else
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add recipe", "Create")</p>