@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Delete Tag</h2>

<p><strong>Delete</strong> @Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)
  <input type="submit" value="Delete" class="btn btn-danger" />
}